/* Estilos para o container da página */
.container-food {
  padding: 20px;
  background-color: #030303;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #00e20b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para os títulos */
.container-food h1,
.container-food h2,
.container-food h4 {
  font-family: "Arial", sans-serif;
  color: white;
}

.container-food {
  & form {
    background-color: $gray-b;
    margin: 0px;
  }
}

/* Estilos para os cards */
.food-cards .food-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.food-cards .card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.food-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-cards .card-body {
  padding: 15px;
  flex-grow: 1;
}

/* Estilos para o link de excluir */
.food-cards .btn-danger {
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
}

.card-img-top {
  width: 50%;
  object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {
  .food-cards .food-card {
    flex-direction: column;
    align-items: flex-start;
  }
  .food-cards .col-md-12 {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container-food {
    padding: 10px;
    margin: 20px;
    margin-bottom: 80px;
  }

  .food-cards .food-card {
    margin-bottom: 20px;
  }

  .food-cards .card-body {
    padding: 10px;
  }
}
