.search-bar-index input {
  border-radius: 5px;
}

.container-index {
  margin: 10px;
}

#query {
  background-color: white;
}

#botoes-index {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

#botoes-index button,
#botoes-index a {
  border-radius: 5px;
  padding-inline: 20px;
  flex: 1 1 auto;
}

.search-container {
  display: grid;
  justify-items: center;
  height: 100px;
}

.gyms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filters {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.card-img {
  border-right: 2px solid rgb(145, 141, 141);
}

.card-content {
  display: grid;
  justify-items: center;

  & p {
    font-size: 0.875rem;
    color: $light-mid;
  }
}

@media (max-width: 412px) {
  .search-bar-index,
  #botoes-index {
    width: 100%;
  }

  .gyms-container {
    flex-direction: column;
    align-items: center;
  }

  #query {
    margin-left: 10px;
    width: 340px;
  }

  .filters {
    width: 100%;
  }

  #botoes-index {
    flex-direction: initial;
    align-items: stretch;
  }

  #botoes-index button,
  #botoes-index a {
    width: 100%;
    margin-bottom: 10px;
  }
  .button-group{
    display: block ruby;
  }
}
