<%= form_with url: food_intakes_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :search_term, "Buscar alimento (nome ou código de barras):" %>
    <%= form.text_field :search_term, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.submit "Buscar e adicionar", class: "btn btn-primary" %>
  </div>
<% end %>
