<div class="training-list-container">
  <h2 class="training-list-title">Seu Treino Personalizado</h2>

  <% if @trainings.any? %>
    <div class="training-list">
      <% @trainings.each_with_index do |training, index| %>
        <div class="training-item" data-controller="training">
          <div class="training-header" data-action="click->training#toggle">

            <h3 class="training-title">Treino Gerado em <%= training.created_at.strftime('%d/%m/%Y') %> - <%= index + 1 %></h3>
            <span class="training-toggle-indicator">+</span>
          </div>
          <div class="training-content hidden">
            <p><%= simple_format(training.content) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="no-training">Nenhum treino foi gerado ainda. Use o chat para criar seu treino!</p>
  <% end %>
</div>
