<div data-controller="notification" class="bg-light text-dark d-flex align-items-center justify-content-center" style="height: 5vh;">
  <div class="text-center mt-3 p-4">
      <p>Olá! Hoje é dia de atualizar o seu peso.</p>
  </div>
  <i class="fa-solid fa-x" data-action="click->notification#closeNotification"></i>
</div>
