<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid justify-content-center">
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
</div>
