<%= form_with url: gyms_path, method: :get, class: "d-flex search-form justify-content-center" do %>
  <div id="search-id" class='d-flex w-100'>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control m-0 input-search",
          placeholder: "Escreva o nome da academia"
    %>
   <%= button_tag(type: 'submit', class: 'btn btn-secondary text-light btn-search') do %>
    <i class="fa-solid fa-magnifying-glass"></i>
   <% end %>
  </div>
<% end %>
