<section class="home-page">
  <div class="video-background">
    <video autoplay loop muted>
      <source src="https://res.cloudinary.com/dhkyacden/video/upload/v1733169453/imymanrc3gbtbql0uaoz.mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
  </div>
  <div class="overlay"></div>
  <div class="content w-100">
    <%# <h1>Gym Movement</h1> %>
  </div>
  <%# <div class="banner-container">
    <div class="banner">
      <a href="https://gym-suplement-909fe7f2432b.herokuapp.com/" target="_blank">
        <img src="https://res.cloudinary.com/dhkyacden/image/upload/v1733257956/173133_leuqk5.jpg" alt="Banner">
      </a>
    </div> %>
  </div>
</section>
