<%= javascript_include_tag 'numero', 'data-turbo-track': 'reload', defer: true %>
<section class="home-page">
  <div class="video-background">
    <video autoplay loop muted>
      <source src="https://res.cloudinary.com/dhkyacden/video/upload/v1733169453/imymanrc3gbtbql0uaoz.mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
  </div>
  <div class="overlay"></div>
  <div class="content w-100">
    <h1>Gym Movement</h1>
  </div>
  <div class="numeros-container w-100">
    <p class="text-light m-1">Faça parte e tenha acesso a mais de:</p>
    <p id='numeros' class="text-light fs-1 m-1">1500</p>
    <p class="text-light m-1">academias</p>
  </div>
</section>
