<div>
  <h4 class="gym-name"><strong><%= link_to gym.name, gym_path(gym) %></strong></h4>
  <p><%= gym.address %></p>
  <%# <p>Capacidade: <%= gym.capacity %></p>
  <%# <p>Comodidades: <%= gym.amenities.join(', ') %></p>
</div>
