.btn-success {
  background-color: #28a745; /* Verde escuro */
  color: white;
}

.comodies {
  border-color: #28a745;
  color: #28a745;
}

.comodies.btn-success {
  background-color: #28a745;
  color: white;
}

#filter-list-form{
background-color: rgb(201, 252, 205);
}

#h6-filter{
  color: black;
  font-weight: bold;
}

#max_lotacao_value{
  font-weight: bold;
}
