.user-marker {
  border-radius: 50%;
  border: 2px solid white; /* Borda branca */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
}

.academy-marker {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
