.search-bar {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button,
.search-bar .view-list-button {
  color: white;
  cursor: pointer;
}

.search-bar button:hover,
.search-bar .view-list-button:hover {
  background-color: #0056b3;
}

.filters-map {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: inherit;
  top: 60px;
  right: 10px;
  z-index: 1000;
  width: 400px;
  background-color: #fff;
}
#distance-value,
#occupancy-value {
  font-weight: bold;
  color: black;
}

.filters-map label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.filters-map input,
.filters-map select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters-map button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.filters-map button:hover {
  color: var(--bs-btn-hover-color);
  background-color: #26e630;
}

#toggle-filters {
  border: none;
  color: white;
  cursor: pointer;
}

#toggle-filters:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745; /* Verde escuro */
  color: white;
}

.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.btn-outline-success.btn-success {
  background-color: #28a745;
  color: white;
}
.gym-name {
  color: $black !important;
}
#option-comod-map {
  color: #28a745;
  &:hover {
    color: black;
    background: #26e630;
    border-color: #26e630;
  }
}

@media (max-width: 412px) {
  .filters-map {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}
