.navbar-lewagon {
  justify-content: space-between;
  background: #000000db;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}


@media (max-width: 402px) {
  .navbar-lewagon .navbar-brand img {
    width: 120px;
  }
}
